<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.munit.m_unitapp">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        tools:node="replace" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UI.POOL.PoolsListActivity"></activity>
        <activity android:name=".UI.PAYROLL.EmployeeManActivity" />
        <activity android:name=".UI.PAYROLL.EmployeesListActivity" />
        <activity android:name=".UI.PAYROLL.PayrollActivity" />
        <activity android:name=".UI.CYBER.SummaryActivity" />
        <activity android:name=".UI.HSMS.HSMSObjViewActivity" />
        <activity android:name=".UI.HSMS.HSMSActivationActivity" />
        <activity android:name=".UI.POOL.PoolHistActivity" />
        <activity android:name=".UI.POOL.PoolHomeActivity" />
        <activity android:name=".UI.SYSUSERS.UserProfileActivity" />
        <activity android:name=".UI.SYSUSERS.SettingsActivity" />
        <activity android:name=".UI.SYSUSERS.ViewUserActivity" />
        <activity android:name=".UI.SYSUSERS.UsersActivity" />
        <activity android:name=".SignIn" />
        <activity
            android:name=".PinActivity"
            android:theme="@style/Themenotitle" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Themenotitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.CYBER.AddSales" />
        <activity android:name=".UI.CYBER.CashInActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Themenotitle">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>